/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>
#include "macros.dtsi"

#define default 0
#define colemak 1
#define layer2 2
#define layer3 3
#define layer4 4
#define layer5 5
#define layer6 6

/ {
        keymap {
                compatible = "zmk,keymap";

                default_layer {
                        bindings = <
        &lt layer6 TAB   &kp Q          &kp W           &kp E           &kp R           &kp T                   &kp Y           &kp U           &kp I           &kp O           &kp P           &kp BSPC
        &mt LCMD ESC      &kp A          &kp S           &kp D           &kp F           &kp G                   &kp H           &kp J           &kp K           &kp L           &kp SEMI        &kp SQT
        &kp LSHFT        &kp Z          &kp X           &kp C           &kp V           &kp B                   &kp N           &kp M           &kp COMMA       &kp DOT         &kp FSLH        &mt LSHFT RET
                                                        &mo layer5      &kp RET         &mo layer2              &mo layer3      &kp SPACE       &kp RALT
                        >;
                };
                colemak {
                        bindings = <
        &lt layer6 TAB   &kp Q          &kp W           &kp F           &kp P           &kp G                   &kp J           &kp L           &kp U           &kp Y           &kp SCLN        &kp BSPC
        &mt LCMD ESC     &kp A          &kp R           &kp S           &kp T           &kp D                   &kp H           &kp N           &kp E           &kp I           &kp O           &kp QUOT
        &kp LSHFT        &kp Z          &kp X           &kp C           &kp V           &kp B                   &kp K           &kp M           &kp COMMA       &kp DOT         &kp FSLH        &mt LSHFT RET
                                                        &mo layer5      &kp RET         &mo layer2              &mo layer3      &kp SPACE       &kp RALT
                        >;
                };

                layer2 {
                        bindings = <
        &kp  TAB        &kp EXCL        &kp AT          &kp HASH        &kp DLLR        &kp PRCNT               &kp CARET       &kp AMPS        &kp STAR        &kp LPAR        &kp RPAR        &kp BSPC       
        &kp CAPS        &kp F1          &kp F2          &kp F3          &kp F4          &kp F5                  &kp LEFT        &kp UNDER       &kp UP          &kp RIGHT       &trans          &trans
        &kp LSHFT       &trans          &trans          &trans          &trans          &trans                  &trans          &trans          &trans          &trans          &trans          &trans
                                                        &kp LGUI        &trans          &trans                  &mo layer4      &trans          &kp RALT
                        >;
                };

                layer3 {
// -----------------------------------------------------------------------------------------
// Colocar descripción
                        bindings = <
        &macro0         &kp N1          &kp N2          &kp N3          &kp N4          &kp N5                  &kp N6          &kp N7          &kp N8          &kp N9          &kp N0          &kp BSPC
        &kp LCMD        &trans          &trans          &trans          &trans          &trans                  &kp MINUS       &kp EQUAL       &kp LBKT        &kp RBKT        &kp BSLH        &kp GRAVE
        &kp LSHFT       &trans          &trans          &trans          &trans          &trans                  &kp UNDER       &kp PLUS        &kp LBRC        &kp RBRC        &kp PIPE        &kp TILDE
                                                        &kp LGUI        &trans          &mo layer4              &trans          &trans          &kp RALT
                        >;
                };

                layer4 {
// -----------------------------------------------------------------------------------------
// Adjust Layer
                        bindings = <
        &trans          &trans          &trans          &trans          &trans          &trans                  &trans          &trans          &trans          &trans          &trans          &kp BSPC
        &bt BT_CLR      &bt BT_SEL 0    &bt BT_SEL 1    &bt BT_SEL 2    &bt BT_SEL 3    &bt BT_SEL 4            &kp LEFT        &kp DOWN        &kp UP          &kp RIGHT       &trans          &trans
        &out OUT_TOG  &to default_layer &to colemak     &trans          &trans          &trans                  &trans          &trans          &trans          &trans          &trans          &trans
                                                        &kp LGUI        &trans          &kp SPACE               &kp RET         &trans          &kp RALT
                        >;
                };

                layer5 {
// -----------------------------------------------------------------------------------------
// RGB and Misc Layer
                        bindings = <
        &trans          &trans          &trans          &trans          &trans          &trans                  &trans          &trans          &kp UP          &trans          &trans          &trans
        &kp LCTRL       &trans          &trans          &trans          &trans          &trans                  &trans          &kp LEFT        &kp DOWN        &kp RIGHT       &trans          &trans
        &trans          &trans          &trans          &trans          &trans          &trans                  &trans          &trans          &trans          &trans          &trans          &trans
                                                        &trans          &trans          &trans                  &trans          &trans          &trans
                        >;
                };

                layer6 {
// -----------------------------------------------------------------------------------------
// Numpad and Media Layer
                        bindings = <
        &trans          &trans          &trans          &trans          &trans          &trans                  &trans          &kp N7          &kp N8          &kp N9          &kp EQUAL       &kp BSPC
        &trans          &kp VOLU        &kp UP          &kp VOLD        &kp PGUP        &trans                  &trans          &kp N4          &kp N5          &kp N6          &kp KP_PLUS        &kp KP_DIVIDE
        &trans          &trans          &trans          &trans          &trans          &trans                  &trans          &kp N1          &kp N2          &kp N3          &kp KP_MINUS       &kp KP_SLASH
                        >;
                };
        };
};
